a {
  display: block;
  padding: 8px;
  color: #999999;
  text-decoration: none;
  font-size: 15px;
}

.bodylinks {
  display: block;
  padding: 8px;
  color: black;
  text-decoration: underline;
  font-size: 15px;
}

li a:hover {
  color: white;
}

.nav li {
  padding-top: 5px;
  margin-left: 0px;
  float: left;
}

.navbar {
  background-color: #333333;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.pic {
  border-radius: 50px;
}

.name {
  font-family: 'Amatic SC', cursive;
}

body {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 50px;
}

.navlinks {
  display: inline;
  margin-left: 50px;
  overflow: hidden;
  list-style-type: none;
  padding-top: 5px;
}

.container {
  padding: 10px;
  margin: 50px;
  background-color: white;
  border-radius: 5px;
}

.align-right{
 margin-top: 0px;
 float: right;
}
